[Unit]
Description=FIFOtv Boot Splash
After=multi-user.target
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/home/tv/smarttv/system/splash/boot-splash.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
